[package]
name = "oasgen"
version = "0.1.2"
edition = "2021"
readme = "../README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
doctest = false

[dependencies]
actix-web = { version = "4.2.1", optional = true }
futures = "0.3.25"
http = "0.2.8"
indexmap = "1.9.2"
oasgen-core = { path = "../core", package = "oasgen-core" }
oasgen-macro = { path = "../macro", package = "oasgen-macro" }
openapiv3-extended = "1.0.14"
serde = { version = "1.0.151", features = ["derive"] }
serde_json = "1.0.91"
serde_yaml = "0.9.16"
tokio = { version = "1.23.0", features = ["full"] }

[features]
actix = ["actix-web", "oasgen-core/actix"]

[dev-dependencies]
serde_yaml = "0.9.16"
trybuild = "1.0.73"
actix-web = "4.2.1"
