[package]
name = "oasgen"
version = "0.1.7"
edition = "2021"
authors = ["Kurt Wolf <kurtwolfbuilds@gmail.com>"]
description = "Dependency of oasgen. Generates OpenAPI 3.0 spec based on Rust code. Works with actix-web, but architected to easily extend to other frameworks (or no framework)."
license = "MIT"
repository = "https://github.com/kurtbuilds/oasgen"
homepage = "https://github.com/kurtbuilds/oasgen"
documentation = "https://docs.rs/oasgen"
readme = "../README.md"
autotests = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
doctest = false

[[test]]
name = "oasgen_test_no_framework"
path = "tests/test-none.rs"

[[test]]
name = "oasgen_test_actix"
path = "tests/test-actix.rs"
required-features = ["actix"]

[dependencies]
actix-web = { version = "4.2.1", optional = true }
futures = "0.3.25"
http = "0.2.8"
indexmap = "1.9.2"
oasgen-core = { path = "../core", package = "oasgen-core" , version = "0.1.7"}
oasgen-macro = { path = "../macro", package = "oasgen-macro" , version = "0.1.7"}
openapiv3-extended = "1.0.14"
serde = { version = "1.0.151", features = ["derive"] }
serde_json = "1.0.91"
serde_yaml = "0.9.16"
tokio = { version = "1.23.0", features = ["full"] }

[features]
actix = ["actix-web", "oasgen-core/actix"]

[dev-dependencies]
serde_yaml = "0.9.16"
trybuild = "1.0.73"
actix-web = "4.2.1"
