[package]
name = "oasgen"
version = "0.4.0"
edition = "2021"
authors = ["Kurt Wolf <kurtwolfbuilds@gmail.com>"]
description = "Dependency of oasgen. Generates OpenAPI 3.0 spec based on Rust code. Works with actix-web, but architected to easily extend to other frameworks (or no framework)."
license = "MIT"
repository = "https://github.com/kurtbuilds/oasgen"
homepage = "https://github.com/kurtbuilds/oasgen"
documentation = "https://docs.rs/oasgen"
readme = "../README.md"
autotests = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
doctest = false

[[test]]
name = "oasgen_test_no_framework"
path = "tests/test-none.rs"

[[test]]
name = "oasgen_test_actix"
path = "tests/test-actix.rs"
required-features = ["actix"]

[dependencies]
actix-web = { version = "4.3.0", optional = true }
futures = "0.3.26"
http = "0.2.9"
indexmap = "1.9.2"
oasgen-core = { path = "../core", version = "0.4.0" }
oasgen-macro = { path = "../macro", version = "0.4.0" }
openapiv3-extended = {version = "2.1" }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
serde_yaml = "0.9.17"
tokio = { version = "1.25.0", features = ["full"] }

[features]
actix = ["actix-web", "oasgen-core/actix"]
time = ["oasgen-core/time"]
chrono = ["oasgen-core/chrono"]
uuid = ["oasgen-core/uuid"]

[dev-dependencies]
serde_yaml = "0.9.17"
trybuild = "1.0.77"
actix-web = "4.3.0"
